* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 100px;
}

.logo {
    height: 50px;
    cursor: pointer;
    margin-left: 200px;
    border-radius: 50px;
    background-color: #fff;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3PX;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background:transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 320px;
    display:inline-flex;
    align-content: center;
    justify-content: center;
   
}

/* button a{
    text-decoration: none;
    color: black;
} */

span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
    color: #fff;
}

button:hover {
    border: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}
